/*  your css code here. If applicable */
body{
	text-align:center;
	background-color:grey;
}
	.container{
		padding: 10px 20px;
		width:350px;
		background-color:grey;
		border-radius:20px;
		box-shadow:2px 2px 5px grey;
	
}
img{
	width:200px;
}
.button{
	background-color:red;
	color:white;
	padding: 10px 20px;
    border-radius: 5px;
}